<% if user_signed_in? %> 

<% @confession.each do |confession| %>
  <tr>
  <span>No. <%= confession.id %> on <%= confession.created_at.strftime("%Y-%m-%d")%> </span>
    <div class = row> 
      <div class = col-1>
          <% if confession.reviewed==true %>
            <p class = approved> Approved </p>
          <% else %>
            <p class = notapproved> Not Approved </p>
          <% end %> 
      </div>
      <div class = col-7>
        	<h3><%= confession.saying %></h3>
      </div>
      <div class = col-1>
          <%= confession.author %>
      </div>
      <div class = col-3>
          <%= link_to 'Edit', edit_confession_path(confession.id), class: 'btn btn-primary' %> 
          <%= link_to 'Delete', confession_path(confession.id), method: :delete, data: {confirm: 'Are you sure you want to delete this confession?'},class: 'btn btn-danger' %>

      </div>
    </div>
    <% end %>
       
      	</br>
        </tr>
    </div>
  <br>

<% else %> 
<% @confessionreviewed.each do |confession| %>
    <div class = "row"> 
      <div class="text-muted">No. <%= confession.id %> on <%= confession.created_at.strftime("%Y-%m-%d")%> &nbsp; &nbsp; </div>
      <div>
        <%= social_share_button_tag(confession.saying + ' — ' + confession.author, :url => confession_path(confession), desc: confession.saying) %> </div>
      </div>
      <blockquote class="blockquote">
    <h1><%= confession.saying %></h1>
  <footer class="blockquote-footer">
    <%= confession.author %>
  </footer>
    </blockquote>
  </br>
  
  <% end %>
<% end %>