<!DOCTYPE html>
<html>
  <head>
    <title>Crushes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice.present? %>
		  <p class="alert alert-info"><%= notice %></p>
		<% end %>
		<% if alert.present? %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

  	<header class="row">
  		 <div class="col-3">
	         <div class="circle">
	        	<br />
	       		 Cornell
	        	<br />
	        	 Crushes 
	       		<br />
	        	 <3
	      	</div>
      	 </div>
      	 <div class="col-3 slogan">
	        Splurting out unsolicited advice about entrepreneurship since 2016
	     </div>
	      <div class="col-4 links">
	        <!-- Button trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;
	        <%= link_to 'About', about_path %>
          &nbsp;&nbsp;
	      </div>
        <ul class="col-2 navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
           <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
    </li>
      <% end %>
    </ul>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Dare to confess?</h4>
          </div>
          <%= simple_form_for Confession.new do |c| %>
          <div class="modal-body">
            <h1>Dare to confess?</h1>
              <%= c.input :saying, label: "I confess...", placeholder: "Jane Doe, you have the cutest smile I have ever seen." %>
              <%= c.input :author, label: "By...", placeholder: "Jake" %>
              <%= c.input :reviewed, as: :boolean %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= c.submit 'Create', class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr />
	 <br class="clear" />
	 <div class="container">
	 	<% if flash[:error].present? %>
   			<div class="col-10 offset-1 alert alert-danger">
      			<%= flash[:error].html_safe %>
    		</div>
 		<% end %>
    <%= yield %>
	</div>
<div class="footer">
      <div class="container">
        <div class="row">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
      </div>
    </div>
  </body>
</html>
